.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__data-box {
    display: flex;
    justify-content: space-between;
    // background-color: red;
  }
  .video__createdAt {
    font-size: 12px;
    display: flex;
    .video__created__dat-box {
      display: flex;
      position: relative;
      width: 100%;
      .video__createdAt-date {
        display: flex;
        font-size: 14px;
      }
    }
    .video__owner-name {
      color: white;
      text-decoration: underline;
      font-weight: bold;
      display: flex;
      font-size: 16px;
      // width: 100%;
      height: 5px;
    }
    .video__owner {
      margin-bottom: 15px;
      font-size: 18px;
      display: flex;
    }
    .video__editDelete-box {
      display: flex;
      width: 60%;
      justify-content: end;
      margin-left: 150px;
      padding-top: 40px;
      text-align: center;
    }
  }
  .video__hashtags {
    display: flex;
    margin-top: 40px;
    font-size: 17px;
    color: cornflowerblue;
  }

  @keyframes sheen {
    0% {
      background-color: black;
      color: white;
    }
    100% {
      background-color: white;
    }
  }

  .video__edit-btn {
    display: flex;
    background-color: transparent;
    color: white;
    border: 1px solid steelblue;
    border-radius: 9999px;
    padding: 20px;
    &:hover {
      animation: sheen 0.5s ease-in-out;
      background-color: white;
      color: steelblue !important;
    }
  }
  .video__delete-btn {
    display: flex;
    margin-left: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid rgba($color: $red, $alpha: 1);
    border-radius: 9999px;
    padding: 20px;
    &:hover {
      animation: sheen 0.5s ease-in-out;
      background-color: white;
      color: rgba($color: $red, $alpha: 1) !important;
    }
  }
}

#video__comments-box {
  width: 100%;
  position: relative;
  .video__comment-form {
    display: flex;
    width: 100%;
    margin-top: 20px;
    resize: none;
    margin-bottom: 10px;
    #video__comment-textarea-box {
      width: 100%;
      #video__comment-textarea {
        width: 100%;
        height: 20px;
        background-color: transparent;
        resize: none;
        border: none;
        margin-top: 20px;
        color: white;
        font-size: 18px;
        border-bottom: 1px solid rgba($color: #eee, $alpha: 0.2);
      }
      #video__comment-textarea:focus {
        outline: none;
      }
    }
    #video__comment__button-box {
      width: 100%;
      margin-top: 10px;
      display: flex;
      justify-content: end;
      #video__comment__cancle-button {
        margin-right: 20px;
        padding: 8px 15px;
        display: none;
        background-color: transparent;
        border: none;
        color: rgb(231, 224, 224);
        cursor: pointer;
      }
      #video__comment__write-button {
        padding: 8px 15px;
        display: none;
        color: #717171;
        background-color: #484848;
        border: none;
      }
    }
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  .user__comment__container-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
    margin-bottom: 60px;
    height: 60px;
  }
  .user__comment-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user__comment__hover-firstbtn {
      display: none;
      position: absolute;
      right: 0;
      font-size: 24px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 15px 20px;
      text-align: center;
      justify-self: center;
      border-radius: 9999px;
    }

    .user__comment__hover-firstbtn:active {
      background-color: rgb(29, 28, 28);
      border: 1px solid #181818;
      opacity: 0.3;
      transition: all ease-in;
    }
    .user__comment-deletebtn:not(div) {
      margin-left: 140px;
      background-color: transparent;
      padding: 0;
      width: 100px;
      height: 60px;
      display: none;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      font-size: 16px;
      color: white;
      cursor: pointer;
      background-color: transparent;
      margin-left: -5px;
      position: absolute;
      border-radius: 9999px;
      border: 1px solid rgba($color: rgb(126, 121, 121), $alpha: 0.4);
      .user__comment__deletebtn-span {
        display: flex;
        cursor: pointer;
        width: 100%;
        height: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
      .far.fa-trash-alt.user__comment__deletebtn-span-icon {
        display: flex;
        cursor: pointer;
        width: 100%;
        height: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
    }
    .user__comment__deletebtn-span:not(i) {
      padding: 3px, 13px, 13px, 0;
    }
    .far.fa-trash-alt {
      padding: 0px, 13px, 13px, 3px;
      font-size: 20px;
    }

    .header__avatar {
      padding: 10px;
      display: flex;
      margin-right: 15px;
    }
    .user__name {
      display: flex;
      margin-bottom: 13px;
      font-weight: bold;
    }
  }

  #user__comment__not-owener {
    width: 120px;
    display: none;
    position: absolute;
    cursor: default;
    font-size: 16px;
    text-align: center;
    right: -40px;
    border-radius: 9999px;
  }

  .user__comment__container-box:hover {
    .user__comment__hover-firstbtn {
      display: flex;
    }
  }
}

.video__data-hr {
  width: 100%;
  opacity: 0.2;
  height: 0.1px;
  border-top: none;
  border-left: none;
  border-right: none;
}
