.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 12px;
    display: flex;
    position: relative;
    .video__owner-name {
      color: cornflowerblue;
      text-decoration: underline;
      display: flex;
    }
    .video__owner {
      margin-bottom: 5px;
      font-size: 14px;
      display: flex;
    }
  }

  @keyframes sheen {
    0% {
      background-color: black;
      color: white;
    }
    100% {
      background-color: white;
    }
  }

  .video__editDelete-box {
    display: flex;
    position: absolute;
    right: 0;
    margin-top: 75px;
  }
  .video__edit-btn {
    display: flex;
    background-color: transparent;
    color: white;
    border: 1px solid steelblue;
    border-radius: 9999px;
    padding: 10px;
    &:hover {
      animation: sheen 0.5s ease-in-out;
      background-color: white;
      color: steelblue !important;
    }
  }
  .video__delete-btn {
    display: flex;
    margin-left: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid rgba($color: $red, $alpha: 1);
    border-radius: 9999px;
    padding: 10px;
    &:hover {
      animation: sheen 0.5s ease-in-out;
      background-color: white;
      color: rgba($color: $red, $alpha: 1) !important;
    }
  }
}

#video__comments-box {
  width: 100%;
  position: relative;
  .video__comment-form {
    display: flex;
    width: 100%;
    margin-top: 20px;
    resize: none;
    margin-bottom: 10px;
    #video__comment-textarea-box {
      width: 100%;
      #video__comment-textarea {
        width: 100%;
        height: 20px;
        background-color: transparent;
        resize: none;
        border: none;
        margin-top: 20px;
        color: white;
        font-size: 18px;
        border-bottom: 1px solid rgba($color: #eee, $alpha: 0.2);
      }
      #video__comment-textarea:focus {
        outline: none;
      }
    }
    #video__comment__button-box {
      width: 100%;
      margin-top: 10px;
      display: flex;
      justify-content: end;
      // align-items: flex-end;
      #video__comment__cancle-button {
        margin-right: 20px;
        padding: 8px 15px;
        display: none;
        background-color: transparent;
        border: none;
        color: rgb(231, 224, 224);
        cursor: pointer;
      }
      #video__comment__write-button {
        padding: 8px 15px;
        display: none;
        color: #717171;
        background-color: #484848;
        border: none;
      }
    }
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  .video__comment {
    background-color: transparent;
    color: white;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
  }
  .header__avatar {
    display: flex;
    margin-right: 15px;
  }
  .user__name {
    display: flex;
    // border: 2px solid white;
    margin-bottom: 13px;
    font-weight: bold;
  }
  .user__comment {
  }
}

hr {
  width: 100%;
  border-top: 1px;
  opacity: 0.2;
  // background-color: grey;
}
