.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}
.video-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
<<<<<<< HEAD
.login-button {
  color: black;
}
.auth-switch {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
=======
.auth-switch {
  text-align: center;
  margin-top: 40px;
>>>>>>> 9442ec1f0399d8c3ffc93b309538c16da72cffad
  a {
    text-decoration: underline;
  }
}
<<<<<<< HEAD
.auth__switch-signup {
  margin-top: 15px;
}
=======
>>>>>>> 9442ec1f0399d8c3ffc93b309538c16da72cffad

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
